<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;500&display=swap" rel="stylesheet">
    
    <title>PokeGym</title>
</head>
<body>
    <nav>
        <h3>Pok'e'GYM</h3>
        <div class="nav-links">
            <ul>
                <li><a class="link-tags" href="#">Home</a></li>
                <li><a class="link-tags"href="#">Trainers</a></li>
                <li><a class="link-tags"href="#">Workout Plans</a></li>
            </ul>
            <div class="nav-btn">
                
                <!-- <button><a href="/login">Sign Up</a></button> -->
                
                <button href="#"><a href="/login">Login</a></button>
            </div>
        </div>
    </nav>

    <div class="main-container">
        <h1 id="main-h1">Pok'e'GYM</h1>
    </div>

    <div class="about-container">
        <img id="img2" src="/static/images/img2.jpg" alt="rope battle">
        <div class="about-text">
            <h2>Our Gym</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro repudiandae impedit quibusdam ullam? Explicabo obcaecati velit ipsam quasi. Culpa veniam, saepe ullam aperiam enim quod labore, ipsum a nobis, adipisci quos quaerat. Quia debitis voluptate, repellendus laudantium libero, perferendis ab, veniam voluptas explicabo itaque quas velit autem sit dolorem illum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis id quia non earum at cum in voluptatum dolores, fugiat error?</p>
        </div>
    </div>
    <div class="card-container">
        <h2>Our Champions</h2>
        <div class="box">
            <div class="cards" >
                <h2>Yoga</h2>
                <div class="card-content" id="card1">
                    <div class="top-card">
                        <h3>Trainer 1</h3>
                    </div>
                    <div class="bottom-card">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ex.</p>
                        <button><a href="/trainer">Book now</a></button>
                    </div>
                </div>
            </div>
            <div class="cards" >
                <h2>Weights</h2>
                <div class="card-content" id="card2">
                    <div class="top-card">
                        <h3>Trainer 2</h3>
                    </div>
                    <div class="bottom-card">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ex.</p>
                        <button><a href="/trainer">Book now</a></button>
                    </div>
                </div>
            </div>
            <div class="cards" >
                <h2>Cardio</h2>
                <div class="card-content" id="card3">
                    <div class="top-card">
                        <h3>Trainer 3</h3>
                    </div>
                    <div class="bottom-card">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ex.</p>
                        <button><a href="/trainer">Book now</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="BLANK">

    </div>




    <div class="card-container" id="card-conatiner2">
        <h2>Membership Plans</h2>
        <div class="box">
            <div class="cards" >
                <!-- <h2>Yoga</h2> -->
                <div class="card-content" id="">
                    <div class="top-card">
                        <h3>Gym Leaders</h3>
                    </div>
                    <div class="bottom-card">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <button class="btn-member">View more...</button>
                    </div>
                </div>
            </div>
            <div class="cards" >
                <!-- <h2>Weight Trainer</h2> -->
                <div class="card-content" id="">
                    <div class="top-card">
                        <h3>Elites</h3>
                    </div>
                    <div class="bottom-card">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn-member">View more...</button>
                    </div>
                </div>
            </div>
            <div class="cards" >
                <!-- <h2>Cardio Trainer</h2> -->
                <div class="card-content" id="">
                    <div class="top-card">
                        <h3>Champions</h3>
                    </div>
                    <div class="bottom-card">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn-member">View more...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>